[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=3.0.0"
django-model-utils = ">=4.0"
django-push-notifications = ">=2.0.0"
pytest = "*"
pytest-cov = "*"
sphinx = "*"
pytest-django = "*"
factory-boy = "*"
bleach = "*"
celery = "*"
tox = "*"
flit = "*"
django-timezone-field = "*"
hyper = "*"

[dev-packages]
mypy = "*"
black = "==19.3b0"
cron-descriptor = "*"
django-celery-beat = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.7"
